version: '3.8'

services:

  jobmanager:
    hostname: jobmanager
    build: .
    image: pricing-job:latest
    container_name: pricing-jobmanager
    command:
      - standalone-job
      - --job-classname
      - com.wordpress.kkaravitis.pricing.FlinkDynamicPricingJob
      - --
      - --configLocation
      - /opt/pricing/config
    ports:
      - "8081:8081"
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        jobmanager.rpc.port: 6002
        taskmanager.numberOfTaskSlots: 1
        parallelism.default: 1
        classloader.resolve-order: parent-first
        state.backend: rocksdb
        state.backend.incremental: true
        state.backend.type: rocksdb
        state.backend.rocksdb.localdir: /opt/flink/working/rocksdb
        execution.checkpointing.storage: filesystem
        execution.checkpointing.dir: file:///opt/flink/state/checkpoints
        execution.checkpointing.savepoint-dir: file:///opt/flink/state/savepoints
        execution.checkpointing.interval: 45000
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.min-pause: 15000
        execution.checkpointing.timeout: 35000
        execution.checkpointing.max-concurrent-checkpoints: 1
        restart-strategy.type: fixed-delay
        restart-strategy.fixed-delay.attempts: 5
        restart-strategy.fixed-delay.delay: 10 s
        process.jobmanager.working-dir: /opt/flink/working
        high-availability.type: ZOOKEEPER
        high-availability.zookeeper.quorum: zookeeper:2181
        high-availability.cluster-id: /pricing
        high-availability.storageDir: file:///opt/flink/ha
    volumes:
      - ./config/config.yaml:/opt/pricing/config/config.yaml
      - ./state/checkpoints:/opt/flink/state/checkpoints
      - ./state/savepoints:/opt/flink/state/savepoints
      - ./working:/opt/flink/working
      - ./state/ha:/opt/flink/ha
    networks:
      - pricing-net

  taskmanager:
    image: pricing-job:latest
    container_name: pricing-taskmanager
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        jobmanager.rpc.port: 6002
        taskmanager.numberOfTaskSlots: 1
        parallelism.default: 1
        classloader.resolve-order: parent-first
        state.backend: rocksdb
        state.backend.incremental: true
        state.backend.type: rocksdb
        state.backend.rocksdb.localdir: /opt/flink/working/rocksdb
        execution.checkpointing.storage: filesystem
        execution.checkpointing.dir: file:///opt/flink/state/checkpoints
        execution.checkpointing.savepoint-dir: file:///opt/flink/state/savepoints
        execution.checkpointing.mode: EXACTLY_ONCE
        execution.checkpointing.interval: 45000
        execution.checkpointing.min-pause: 15000
        execution.checkpointing.timeout: 35000
        execution.checkpointing.max-concurrent-checkpoints: 1
        restart-strategy.type: fixed-delay
        restart-strategy.fixed-delay.attempts: 5
        restart-strategy.fixed-delay.delay: 10 s
        process.taskmanager.working-dir: /opt/flink/working
        high-availability.type: ZOOKEEPER
        high-availability.zookeeper.quorum: zookeeper:2181
        high-availability.cluster-id: /pricing
        high-availability.storageDir: file:///opt/flink/ha
    volumes:
      - ./config/config.yaml:/opt/pricing/config/config.yaml
      - ./state/checkpoints:/opt/flink/state/checkpoints
      - ./state/savepoints:/opt/flink/state/savepoints
      - ./working:/opt/flink/working
      - ./state/ha:/opt/flink/ha
    networks:
      - pricing-net

networks:
  pricing-net:
    external: true
